/*UNIVERSAL STYLES*/
p {
  font-family: 'Oswald', sans-serif;
}

.container-wrap {
  max-width: 2000px;
  margin: 0 auto;
}

.dkblue-background {
  background-color: rgb(71, 77, 93);
}

.clearfix {
  overflow: auto;
}


/*FEATURE SYTLES*/
.feature {
  position: relative;
}

.header {
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  color: rgb(255, 255, 255);
  border: solid 1px rgb(255, 255, 255);
  padding: 8px 16px;
  margin: -10px;
}

.sub-title {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

.container-1 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.img-1 {
  width: 100%;
}

.arrow {
  width: 50px;
  height: auto;
  position: absolute;
  animation-name: bouncy;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: none;
}

/*HEADLINE STYLES*/
.headline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h-grey {
  letter-spacing: 1px;
  font-size: 20px;
  color: rgb(104, 104, 104);
}

.h-ltblue-box {
  padding: 5px 8px;
  letter-spacing: 1px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  background-color: rgb(137, 139, 150);
  border-radius: 5px;
}

.h-white {
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 20px;
}

/*PROCESS STYLE*/
.section-container {
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 0px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.panel {
  display: none;
}

.process-content {
  display: flex;
  justify-content: center;
}

.step-call {
  font-size: 10px;
  padding: 10px 15px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 77, 93);
}

.step-call-hide {
  font-size: 10px;
  padding: 10px 16px;
  color: rgb(255, 255, 255);
  background-color: rgb(71, 77, 93);
  display: none;
}

.step-name {
  width: 175px;
  font-size: 10px;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: rgb(204, 204, 204);
}

.step-img {
  width: 80%;
  height: 80%;
}

/*PORTFOLIO STYLE*/

.img-4 {
  background-image: url("../images/002.jpg");
}

.h-white-box {
  padding: 5px 8px;
  letter-spacing: 1px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.img-grid {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 675px;
  justify-content: space-around;
}

.temp {
  width: 300px;
  height: 200px;
  background: grey;
  margin: 1em;
}

/*RESUME STYLE*/
.statement {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.resume-topic {
  text-align: center;
  width: 50%;
  padding: 2px;
  font-size: 16px;
  color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
  margin-bottom: 10px;
}

.normal-text {
  color: rgb(255, 255, 255);
  font-weight: 300;
  font-size: 12px;
  margin: 5px 0px 20px;
}

.job-name {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 14px;
  align-self: flex-start;
  margin: 0px;
}

/*MEDIA QUERIES*/
@media (min-width: 700px) {

  .img-4 {
    background-size: 100%;
  }

  /*FEATURE SYTLES*/
  .header {
    font-size: 80px;
    border: solid 3px rgb(255, 255, 255);
    margin: -20px;
  }

  .sub-title {
    font-size: 30px;
  }

  .arrow {
    display: block;
    top: 80%;
  }

  /*HEADLINE STYLES*/
  .h-grey {
    font-size: 30px;
  }

  .h-ltblue-box {
    font-size: 30px;
  }

  .h-white {
    font-size: 30px;
  }

  .h-white-box {
    font-size: 30px;
  }

  /*PROCESS STYLE*/
  .step-call {
    font-size: 20px;
  }

  .step-call-hide {
    font-size: 20px;
    padding: 10px 17.5px;
  }

  .step-name {
    font-size: 20px;
    width: 350px;
  }

  /*PORTFOLIO STYLE*/

  .img-grid {
    flex-direction: row;
  }

@media (min-width: 1000px) {
  /*FEATURE SYTLES*/
  .header {
    font-size: 100px;
    margin: -30px;
  }

  .sub-title {
    font-size: 40px;
  }

  .arrow {
    display: block;
    top: 85%;
  }

  /*HEADLINE STYLES*/
  .h-grey {
    font-size: 35px;
  }

  .h-ltblue-box {
    font-size: 35px;
  }

  .h-white {
    font-size: 35px;
  }

  .h-white-box {
    font-size: 35px;
  }

  /*PORTFOLIO STYLES*/
  .img-grid {
    max-width: 1000px;
  }

}

/*ARROW ANIMATION*/

/*HEADER ARROW*/
@keyframes bouncy  {
    from{ transform: translateY(0)}
    to{ transform: translateY(20px)}
}
